<div class="footer">
  <div class="footer-container container">
    <div class="footer-container-logo">
      <img src="/m.png" alt="" />
    </div>

    <div class="footer-container-cards">
      <h3>Compania</h3>
      <ul>
        <li><a>Sobre</a></li>
        <li><a>Contato</a></li>
        <li><a>Redes sociais</a></li>
      </ul>
    </div>

    <div class="footer-container-cards">
      <h3>Contato</h3>
      <ul>
        <li><a>Email</a></li>
        <li><a>Twitter</a></li>
        <li><a>Facebook</a></li>
      </ul>
    </div>

    <div class="footer-container-cards">
      <h3>Redes sociais</h3>
      <ul>
        <li>Instagram</li>
        <li>Facebook</li>
        <li>Twitter</li>
      </ul>
    </div>
  </div>
</div>
