body {
  background: rgb(167, 225, 217);
}

.posts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
  .posts-container {
    grid-template-columns: 1fr;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
